LottieSample/LottieSample.Android/bin/
LottieSample/LottieSample.Android/obj/
LottieSample/LottieSample.iOS/obj/
LottieSample/LottieSample/bin/
LottieSample/LottieSample/obj/LottieSample.csproj.nuget.g.targets
LottieSample/LottieSample/obj/
